#root {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 100%; 
}

html, body {
  height: 100%;  
  margin: 0;  
}

/* Global style */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1a1a1a;
  color: #f4f4f4;
  font-family: Georgia, Times, 'Times New Roman', serif;
  margin: 0;
}

main {
  flex-grow: 1; 
  width: 100%; 
  padding-bottom: 50px;
}

/* Header */
header {
  display: flex;
  gap: 20px;
  padding: 20px 30px;
  background-color: #222;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); ;
}

nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

/* Links */
nav a {
  color: #f4f4f4; 
  text-decoration: none;
  font-size: 18px;
  font-weight: 400; /* Lighter weight for elegance :) */
  letter-spacing: 1px;
  text-transform: uppercase; 
  transition: color 0.3s ease, transform 0.3s ease; 
}

nav a:hover {
  color: #c31815; 
  transform: scale(1.05); /* Slight zoom effect on hover */
}

nav a.active {
  color: #d69ab1 ; 
}

/* Border */
nav a { 
  border-bottom: 2px solid transparent; 
  padding-bottom: 3px; 
  transition: border-color 0.3s ease; 
}

nav a:hover {
  border-bottom: 2px solid #ad3e34; /* Red border on hover for elegance */
}


.footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
  width: 100%;
  margin-top: auto; 
}

/*Personal Favorites*/
.personal-favorites {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

input, textarea, button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.recipe-list ul {
  list-style-type: none;
  padding: 0;
}

.recipe-list li {
  background-color: #f9f9f9;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
}


/* Responsive */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
  
  .personal-favorites {
    padding: 10px; /* Reduce padding for smaller screens */
  }

  input, textarea, button {
    font-size: 14px; /* Adjust font size on smaller devices */
  }
}